:root {
	--primary-color:#1b74e8;
	--secondary-color:#bbdefb;
	--body-bg:#fff;
	--body-bg-shaded:#f7f7f7;
	--body-bg-light:#fff;
	--body-bg-faded:rgba(255,255,255,0.93);
	--text-color:#111;
	--link-color:#0e72f5;
	--heading-color:#111;
	--muted-color:#668299;
	--muted-color-light:#859bad;
	--muted-color-dark:#000;
	--shadow-color:rgba(0,0,0,0.35);
	--control-bg:#e4eef6;
	--control-bg-light:#f0f5fa;
	--control-bg-shaded:#d5e4f1;
	--control-color:#668299;
	--error-color:#d83e3e;
	--header-bg:#1b74e8;
	--header-color:#fff;
	--header-control-bg:#1868d1;
	--header-control-color:#a4c7f6;
	--overlay-bg:rgba(187,222,251,0.9);
	--code-bg:#f7f7f7;
	--code-color:#5e5e5e;
	--alert-bg:#fff2ae;
	--alert-color:#ad6c00;
	--alert-error-bg:#d83e3e;
	--alert-error-color:#fff;
	--alert-success-bg:#b4f1af;
	--alert-success-color:#33722d;
	--switch-on-color:#58a400;
	--switch-off-color:#d0021b;
	--enabled-color:#2ECC40;
	--disabled-color:#FF4136;
	--validation-error-color:#d83e3e;
	--avatar-bg:var(--control-bg);
	--badge-bg:var(--muted-color);
	--badge-color:#fff;
	--badge-hidden-bg:#888;
	--usercard-bg:var(--control-bg);
	--hero-bg:#e4eef6;
	--hero-color:#668299;
	--tooltip-bg:rgba(0,0,0,0.9);
	--tooltip-color:#fff;
	--online-user-circle-color:#7fba00;
	--discussion-title-color:#7c7c7c;
	--discussion-list-item-bg-hover:#f2f7fb;
	--button-color:#668299;
	--button-bg:#e4eef6;
	--button-bg-hover:#d1e2f0;
	--button-bg-active:#bed6e9;
	--button-bg-disabled:#e4eef6;
	--button-primary-color:#fff;
	--button-primary-bg:#1b74e8;
	--button-primary-bg-hover:#1568d4;
	--button-primary-bg-active:#135dbd;
	--button-primary-bg-disabled:#1b74e8;
	--control-danger-color:#d66;
	--control-danger-bg:#fdd;
	--control-danger-bg-hover:#ffc3c3;
	--control-danger-bg-active:#faa;
	--control-danger-bg-disabled:#fdd;
	--muted-more-color:#aaa;
	--muted-more-bg:rgba(170,170,170,0.3);
	--muted-more-bg-hover:rgba(157,157,157,0.35);
	--muted-more-bg-active:rgba(145,145,145,0.4);
	--muted-more-bg-disabled:rgba(170,170,170,0.3);
	--button-inverted-color:#668299;
	--button-inverted-bg:#fff;
	--button-inverted-bg-hover:#f2f2f2;
	--button-inverted-bg-active:#e6e6e6;
	--button-inverted-bg-disabled:#fff;
	--light-content-color:#fff;
	--light-content-control-color:#fff;
	--light-content-control-bg:rgba(0,0,0,0.1);
	--light-content-control-bg-shaded:rgba(0,0,0,0.2);
	--light-content-control-bg-fadedin:rgba(0,0,0,0.15);
	--header-colored-color:#fff;
	--header-colored-control-color:#a4c7f6;
	--header-colored-control-bg:#1868d1;
	--header-colored-control-bg-shaded:#165dba;
	--header-colored-control-bg-fadedin:#1868d1;
	--border-radius:4px;
	--drawer-width:270px;
	--pane-width:400px;
	--header-height:52px;
	--header-height-phone:46px;
	--zindex-header:1000;
	--zindex-pane:1010;
	--zindex-composer:1020;
	--zindex-dropdown:1030;
	--zindex-modal-background:1040;
	--zindex-modal:1050;
	--zindex-alerts:1060;
	--zindex-tooltip:1070;
	--flarum-screen:none;
	--screen-phone-max:767.98px;
	--screen-tablet:768px;
	--screen-tablet-max:991.98px;
	--screen-desktop:992px;
	--screen-desktop-max:1099.98px;
	--screen-desktop-hd:1100px
}
body { 
  background-image: url(../Wallpapers/Placeholder1.jpg);
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: harmonyossanssc,"harmonyos sans sc", 微软雅黑, PingFangSC-Regular;
}
.test {
  background-color:rgba(255,255,255,0.5);
  border-radius: 12px;
  min-height: 100%;
  padding: 10px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0 0px 10px 0 rgb(0 0 0 / 20%), 0 0px 10px 0 rgb(0 0 0 / 20%);
}
body {
	font-size:14px;
	line-height:1.7;
	position:relative;
	overflow:auto;
	overflow-wrap:break-word
}
ul,ol,blockquote {
	margin-bottom:1em
}
a {
	border-bottom:1px solid var(--control-bg);
	font-weight:600
}
a:hover,a:focus,a:active {
	text-decoration:none;
	border-color:var(--link-color)
}
h1,h2,h3,h4,h5,h6 {
	margin-top:1em;
	margin-bottom:16px;
	font-weight:700
}
h1 {
	font-size:225%
}
h2 {
	font-size:175%
}
h3 {
	font-size:150%
}
h4 {
	font-size:125%
}
h5,h6 {
	font-size:100%
}
h6 {
	color:var(--muted-more-color)
}
img,iframe {
	max-width:100%
}
img.emoji {
    height: 1.5em;
    margin: 0 .1em;
    vertical-align: -.3em;
}
p {
    margin: 0px;
}
@media (prefers-color-scheme: dark) {
:root {
	--primary-color:#1b74e8;
	--secondary-color:#bbdefb;
	--body-bg:#141a1f;
	--body-bg-shaded:#0e1215;
	--body-bg-light:#1f272e;
	--body-bg-faded:rgba(20,26,31,0.93);
	--text-color:#ddd;
	--link-color:#0e72f5;
	--heading-color:#ddd;
	--muted-color:#6c8193;
	--muted-color-light:#8a9ba8;
	--muted-color-dark:#000;
	--shadow-color:rgba(0,0,0,0.5);
	--control-bg:#1b2228;
	--control-bg-light:#212a31;
	--control-bg-shaded:#12171c;
	--control-color:#6c8193;
	--error-color:#d83e3e;
	--header-bg:#1b74e8;
	--header-color:#141a1f;
	--header-control-bg:#1868d1;
	--header-control-color:#173e6f;
	--overlay-bg:rgba(10,13,15,0.9);
	--code-bg:#0e1215;
	--code-color:#fff;
	--alert-bg:#fff2ae;
	--alert-color:#ad6c00;
	--alert-error-bg:#d83e3e;
	--alert-error-color:#fff;
	--alert-success-bg:#b4f1af;
	--alert-success-color:#33722d;
	--switch-on-color:#58a400;
	--switch-off-color:#d0021b;
	--enabled-color:#2ECC40;
	--disabled-color:#FF4136;
	--validation-error-color:#d83e3e;
	--avatar-bg:var(--control-bg);
	--badge-bg:var(--muted-color);
	--badge-color:#fff;
	--badge-hidden-bg:#888;
	--usercard-bg:var(--control-bg);
	--hero-bg:#1b2228;
	--hero-color:#6c8193;
	--tooltip-bg:rgba(0,0,0,0.9);
	--tooltip-color:#fff;
	--online-user-circle-color:#7fba00;
	--discussion-title-color:#838587;
	--discussion-list-item-bg-hover:#171e23;
	--button-color:#6c8193;
	--button-bg:#1b2228;
	--button-bg-hover:#101518;
	--button-bg-active:#060809;
	--button-bg-disabled:#1b2228;
	--button-primary-color:#141a1f;
	--button-primary-bg:#1b74e8;
	--button-primary-bg-hover:#1568d4;
	--button-primary-bg-active:#135dbd;
	--button-primary-bg-disabled:#1b74e8;
	--control-danger-color:#a88;
	--control-danger-bg:#411;
	--control-danger-bg-hover:#300c0c;
	--control-danger-bg-active:#1b0707;
	--control-danger-bg-disabled:#411;
	--muted-more-color:#5c6770;
	--muted-more-bg:rgba(92,103,112,0.3);
	--muted-more-bg-hover:rgba(80,90,98,0.35);
	--muted-more-bg-active:rgba(69,77,84,0.4);
	--muted-more-bg-disabled:rgba(92,103,112,0.3);
	--button-inverted-color:#6c8193;
	--button-inverted-bg:#141a1f;
	--button-inverted-bg-hover:#0a0d0f;
	--button-inverted-bg-active:#000;
	--button-inverted-bg-disabled:#141a1f;
	--light-content-color:#fff;
	--light-content-control-color:#fff;
	--light-content-control-bg:rgba(0,0,0,0.1);
	--light-content-control-bg-shaded:rgba(0,0,0,0.2);
	--light-content-control-bg-fadedin:rgba(0,0,0,0.15);
	--header-colored-color:#141a1f;
	--header-colored-control-color:#173e6f;
	--header-colored-control-bg:#1868d1;
	--header-colored-control-bg-shaded:#165dba;
	--header-colored-control-bg-fadedin:#1868d1;
	--border-radius:4px;
	--drawer-width:270px;
	--pane-width:400px;
	--header-height:52px;
	--header-height-phone:46px;
	--zindex-header:1000;
	--zindex-pane:1010;
	--zindex-composer:1020;
	--zindex-dropdown:1030;
	--zindex-modal-background:1040;
	--zindex-modal:1050;
	--zindex-alerts:1060;
	--zindex-tooltip:1070;
	--flarum-screen:none;
	--screen-phone-max:767.98px;
	--screen-tablet:768px;
	--screen-tablet-max:991.98px;
	--screen-desktop:992px;
	--screen-desktop-max:1099.98px;
	--screen-desktop-hd:1100px
}
ul,ol,blockquote {
	margin-bottom:1em
}
a {
	border-bottom:1px solid var(--control-bg);
	font-weight:600
}
a:hover,a:focus,a:active {
	text-decoration:none;
	border-color:var(--link-color)
}
h1,h2,h3,h4,h5,h6 {
	margin-top:1em;
	margin-bottom:16px;
	font-weight:700
}
h1 {
	font-size:225%
}
h2 {
	font-size:175%
}
h3 {
	font-size:150%
}
h4 {
	font-size:125%
}
h5,h6 {
	font-size:100%
}
h6 {
	color:var(--muted-more-color)
}
img,iframe {
	max-width:100%
}
img.emoji {
    height: 1.5em;
    margin: 0 .1em;
    vertical-align: -.3em;
}
p {
    margin: 0px;
}
.test {
  background-color:rgba(0,0,0,0.7);
  border-radius: 12px;
  min-height: 100%;
  padding: 10px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0 0px 10px 0 rgb(0 0 0 / 20%), 0 0px 10px 0 rgb(0 0 0 / 20%);
}
body {
    color: var(--text-color);
}
}

