body { 
  background-image: url(../Wallpapers/Placeholder1.jpg);
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.test {
  background-color:rgba(255,255,255,0.5);
  border-radius: 12px;
  min-height: 100%;
  padding: 10px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p {
  font-size: 14px;
  line-height: 1.7;
  margin: 0 0 10px;
  margin-bottom: 0;
}

a {
    cursor: pointer;
    color: #0e72f5;
    text-decoration: none;
}

table {
    width: 98%;
    margin: 1%;
    overflow-x: auto;
    display: table;
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
    overflow: auto;
    overflow-wrap: break-word;
}

thead {
    display: table-header-group;
    border-color: inherit;
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
    overflow: auto;
    overflow-wrap: break-word;
}

tbody {
    display: table-row-group;
    border-color: inherit;
}

tr {
    background: rgba(27,116,232,0.2);
    color: #111;
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

img.emoji {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}
