@font-face {
  font-family: HarmonyOSSans;
  src: url(regular.ttf);
}

@font-face {
  font-family: HarmonyOSSans;
  src: url(bold.ttf);
  font-weight: bold;
}

body {
  font-family: HarmonyOSSans, "Times New Roman", Helvetica;
}